.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
}
.Body {
  display: flex;
  justify-content: center;
}
.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border-style: solid;
}
.FooterContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 30%; */
  border-style: solid;
}
.NavList {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: whitesmoke;
  color: black; */
  width: 100%;
  border-style: solid;
}
.InfoBlurb {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: center; */
  padding: 0.5em;
  width: auto;
  max-width: 90%;
  height: auto;
  border-style: solid;
}
.InfoBlurpPlanet {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: center; */
  padding: 0.5em;
  width: auto;
  max-width: 230em;
  height: 80%;
  border-style: solid;
}
/* .InfoBlurb p {
  font-size: larger;
} */
.InfoBlurpPlanet p,
q {
  font-size: 2em;
}
.InfoBlurpPlanet h2 {
  font-size: 3em;
}
.PlanetContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.TopInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 99.6%;
  border-style: solid;
}
.PictureFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.PlanetPicture {
  max-height: 16em;
  max-width: 16em;
}
.OtherData {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
}
.IllustrationBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}
.Tables {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 100%;
}
.NoBorder {
  border-style: none;
}
.Subtitle {
  font-weight: bold;
}
.FactionHegemony {
  color: rgba(245, 150, 30, 255);
  border-color: rgba(245, 150, 30, 255);
  /* background-color: black; */
}
.FactionPerseanLeague {
  color: rgba(220, 185, 55, 255);
  border-color: rgba(220, 185, 55, 255);
  /* background-color: blue; */
}
.FactionSindrianDiktat {
  color: rgba(180, 0, 120, 255);
  border-color: rgba(180, 0, 120, 255);
  /* background-color: white; */
}
.FactionTriTachCorp {
  color: rgba(135, 206, 255, 255);
  border-color: rgba(135, 206, 255, 255);
  /* background-color: white; */
}
.FactionLuddicChurch {
  color: rgba(5, 115, 10, 255);
  border-color: rgba(5, 115, 10, 255);
  /* background-color: white; */
}
.FactionLuddicPath {
  color: rgba(180, 255, 95, 255);
  border-color: rgba(180, 255, 95, 255);
  /* background-color: black; */
}
.FactionPirate {
  color: rgba(255, 0, 0, 255);
  border-color: rgba(255, 0, 0, 255);
  /* background-color: black; */
}
.FactionIndependent {
  color: rgba(150, 150, 150, 255);
  border-color: rgba(150, 150, 150, 255);
  /* background-color: black; */
}
.PlanetKiller {
  /* color: black;
  -webkit-text-stroke: 0.5px white; */
  font-weight: 1000;
}
